@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #18152e;
  color: #31a8ff;
  margin: 0;
}

#header {
  width: 100%;
  height: 100vh;
  /* background-image: url(images/hero-bg.png); */
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
  border-radius: 4%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  /* color: #31a8ff; */
  /* color: #001e36; */
  color: #ffffff;
  font-size: 1rem;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  /* background: #001e36; */
  background: #31a8ff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}
nav ul li a:hover::after {
  width: 100%;
}
.hero-text {
  margin-top: 16%;
  font-size: 2rem;
}
#about {
  padding: 5rem 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 1rem;
}

.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.tab-title {
  display: flex;
  margin: 1rem 0 40px;
}
.tab-links {
  margin-right: 3rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #31a8ff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.4s;
}
.tab-links.active-link::after {
  width: 60%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #31a8ff;
  font-size: 0.7rem;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/* -------Services--------- */
#services {
  padding: 2rem 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2.5rem;
  margin-top: 3rem;
}
.services-list div {
  background: #001e36;
  padding: 2.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 1rem;
  transition: background 0.5s, transform 0.5s;
}
.services-list div h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.services-list div i {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  margin-top: 1.5rem;
  display: inline-block;
}

.services-list div:hover {
  background: #31a8ff;
  transform: translateY(-10px);
  color: #001e36;
  /* color: #31a8ff; */
}

/* --------Portfilio-------- */
#portfolio {
  padding: 3rem 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2.5rem;
  margin-top: 3rem;
}
.work {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 1rem;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #001e36);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2.5rem;
  text-align: center;
  transition: height 0.4s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 1rem;
}
.layer p {
  font-size: 0.8rem;
}
.layer a {
  margin-top: 1rem;
  color: #31a8ff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 3rem;
  background: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.05);
}
.work:hover .layer {
  height: 100%;
}

/* BTN */
.btn {
  display: block;
  margin: 3rem auto;
  width: fit-content;
  border: 0.25px solid #31a8ff;
  padding: 0.3rem 1rem;
  border-radius: 25%;
  text-decoration: none;
  color: #ababab;
  transition: 0.3s;
  font-size: 0.7rem;
}
.btn:hover {
  transform: scale(1.05);
}
/* ---Contacts---- */

.contacts-left {
  flex-basis: 35%;
}
.contacts-p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contacts-p i {
  margin-right: 1rem;
}
.social-icons a {
  color: #fff;
  margin-top: 3rem;

  font-size: 1.4rem;
  margin-right: 1rem;

  transition: ease-in-out 0.4s;
}
.social-icons a:hover {
  color: #31a8ff;
  /* transform: translateY(-5px); */
}
.contacts-right {
  flex-basis: 60%;
}
.gap {
  margin-top: 2rem;
}
.btn-2 {
  padding-left: 1rem;
  padding-right: 1rem;
  background: #31a8ff;
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  font-size: 0.7rem;
  color: #18152e;
  font-weight: 700;
}
.btn-2:hover {
  color: #fff;
  background: #001e36;
  font-size: 1rem;
}

/* Media Querry */
@media screen and (max-width: 768px) {
}
